@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter, sans-serif;
}

body{
    min-height:100vh;
    color:white;
    background: radial-gradient(circle at top, #1a1a40, #050510);
    overflow-x:hidden;
}

/* HEADER */
header{
    padding:30px;
    text-align:center;
    background: linear-gradient(90deg, #6a00ff, #00d4ff);
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

header h1{
    font-size:28px;
    letter-spacing:2px;
}

/* INFO CARD */
.info{
    margin-top:15px;
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.info p, .info a{
    background: rgba(255,255,255,0.1);
    padding:10px 15px;
    border-radius:12px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.2);
}

.info a{
    color:#00f7ff;
    text-decoration:none;
    transition:0.3s;
}

.info a:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #00f7ff;
}

/* NAV BUTTONS */
.nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:8px;
    padding:20px;
}

.nav button{
    width:40px;
    height:40px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-weight:bold;

    background: linear-gradient(135deg,#ff00cc,#3333ff);
    transition:0.3s;
}

.nav button:hover{
    transform:scale(1.2) rotate(5deg);
    box-shadow:0 0 15px #ff00cc;
}

/* TASK BOX */
.task-box{
    max-width:700px;
    margin:30px auto;
    padding:25px;

    background: rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:20px;
    backdrop-filter: blur(15px);

    box-shadow:0 0 40px rgba(0,0,0,0.5);
}

.task-box h2{
    color:#00f7ff;
    margin-bottom:10px;
}

/* INPUTS */
input{
    width:100%;
    padding:10px;
    margin:5px 0;
    border:none;
    border-radius:10px;
    outline:none;

    background: rgba(0,0,0,0.4);
    color:white;
    border:1px solid rgba(255,255,255,0.2);
}

/* BUTTON */
.task-box button{
    margin-top:10px;
    width:100%;
    padding:12px;

    border:none;
    border-radius:12px;
    cursor:pointer;

    background: linear-gradient(90deg,#00f7ff,#6a00ff);
    color:white;
    font-weight:bold;

    transition:0.3s;
}

.task-box button:hover{
    box-shadow:0 0 20px #00f7ff;
    transform:scale(1.02);
}

/* RESULT */
#result{
    margin-top:15px;
    padding:10px;
    background: rgba(0,0,0,0.3);
    border-radius:10px;
    color:#00ffb3;
}

/* COMPLETED */
.done{
    max-width:700px;
    margin:20px auto;
    padding:20px;
}

.item{
    background: rgba(255,255,255,0.08);
    margin:5px 0;
    padding:8px;
    border-radius:10px;
}
